@model service_tracker_mvc.Models.User
@{
    Layout = "~/Views/Shared/_LayoutEditor.cshtml";
    ViewBag.Title = "Edit";
}
@if (Model != null && Model.UserId > 0)
{
    @Html.HiddenFor(model => model.UserId)    
}
@Html.Partial("PairEditor", new PairEditor()
{
    Label = Html.LabelFor(model => model.ClaimedIdentifier),
    Editor = new MvcHtmlString(string.Format("<span title='{0}'>{1}</span>", Html.AttributeEncode(Model.ClaimedIdentifier), Html.Encode(Model.ClaimedIdentifier.PrettifyUrl()))),
    Validation = null
})
@Html.Partial("PairEditor", new PairEditor()
{
    Label = Html.LabelFor(model => model.Email),
    Editor = Html.DisplayFor(model => model.Email),
    Validation = null
})
