@{
    ViewBag.Title = "Index";
}

<h2>Welcome!</h2>
	@if (ViewData["Message"] != null) { 
	<div style="border: solid 1px red">
		@ViewData["Message"].ToString()
	</div>
	} 
	<p>You must log in before entering the Members Area: </p>
    @using(Html.BeginForm("Authenticate", "User", FormMethod.Post)){
        @Html.Hidden("ReturnUrl")
	    <label for="openid_identifier">OpenID: </label>
	    <input id="openid_identifier" name="openid_identifier" size="40" />
	    <input type="submit" value="Login" />
	}

	<script type="text/javascript">
	    document.getElementById("openid_identifier").focus();
	</script>