@{
    ViewBag.Title = "Index";
}
@section AdditionalScripts{
    <script src="@Url.VersionedContent("~/Scripts/jquery.openid.min.js")" type="text/javascript"></script>
}
<script>
    $(function () {
        $('#openid')
            .children(":not([name=ReturnUrl])").remove().end()
            .openid({ img_path: '@Url.Content("~/Content")' });
    });
</script>
<h2>Welcome!</h2>
@if (ViewData["Message"] != null)
{ 
    <div style="border: solid 1px red">
        @ViewData["Message"].ToString()
    </div>
}
<p>Please log in:</p>
@using (Html.BeginForm("Authenticate", "User", FormMethod.Post, new { id = "openid" }))
{
    @Html.Hidden("ReturnUrl", Request["ReturnUrl"])
    <input id="openid_identifier" name="openid_identifier" />
    <input type="submit" value="Login" />
}