@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
<p>First eight chars of an app variable:  @ViewBag.Environment</p>
<p>Environment: @ViewBag.ConnectionString</p>
