@{
    ViewBag.Title = "Home";

}
<h2>What would you like to do?</h2>
<ul>
    <li>@Html.ActionLink("Enter a new invoice", "Create", "Invoice")</li>
    <li>@Html.ActionLink("Search invoices", "Index", "Invoice")</li>
    <li>@Html.ActionLink("Configure this system", "Index", "Setting")</li>
</ul>
