@model service_tracker_mvc.Classes.PairEditor
<div class="pair">
    <div class="editor-label">
        @Model.Label
    </div>
    <div class="editor-field">
        @Model.Editor
        @Model.Validation
    </div>
</div>