<html>
	<head></head>
	<body>
		@RenderBody()
        <hr/>
        <a style="color:#EB8F00;text-decoration:none" href="@Url.Abs(Url.Action("Index", "Home"))">Service Tracker</a> | @Html.Partial("FooterPartial")
	</body>
</html>