/*
http://kuler.adobe.com/#themeID/1725919
222 gray blue 363340 (brighter)
333 bright gray
555 gray
eee C5C7B6 off white
efefef in between
fff FFF8D3 white 
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #444; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }
body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #222028; color:#C5C7B6; text-shadow: none; }
::selection { background:#222028; color:#C5C7B6; text-shadow: none; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #2F3837; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

body
{
    background-color:#FFF;
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    margin: 0;
    padding:5px;
    color: #2F3837;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
#container
{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}

header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
    text-align:right;
}

header h1
{
    font-weight: bold;
    margin: 0;
    border: none;
}
a:link, a:visited,a:hover, a:active
{
    color: #EB8F00;
    text-decoration:none;
}    
a:hover{ text-decoration:underline; }
#main
{
    border-top:1px solid #FBD850;
    border-bottom:1px solid #FBD850;
    padding: 5px 0 15px 0;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

footer
{
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
    color: #999;
}

/* TAB MENU   
----------------------------------------------------------*/
#menucontainer
{
    float:right;
}
ul#menu
{
    padding-right: 5px;   
    position: relative;
    margin: 0;
}

ul#menu li
{
    display:inline-block;
    list-style: none;
    margin:0 2px;
    border-bottom-width: 0;
}

ul#menu li a
{
    display:inline-block;
    text-decoration: none;
    padding: 7px 20px;
    margin:0 2px;
}

ul#menu li,ul#menu li a,
ul#menu li.ui-state-hover, ul#menu li.ui-state-hover a,
.ui-button, .ui-button.ui-state-hover
{
  -moz-transition-property: color, text-shadow, background, background-image, border-color;
  -o-transition-property: color, text-shadow, background, background-image, border;
  -webkit-transition-property: color, text-shadow, background, background-image, border;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

input[type="text"],
input[type="date"],
input[type="password"] 
{
    border: 1px solid #CCC;
    padding: 1;
}

table.data-table,.no-data { margin-top: 15px; width: 100%; }
.no-data{ text-align: center; font-style: italic; }
table.data-table td,table.data-table th{ padding: 3px 5px; border-left: none; border-right: none }
table.data-table.ui-widget .ui-widget-content.ui-state-hover { font-weight: normal; }

input[type="submit"] + a { padding-left: 15px; }
.clear
{
    clear: both;
}

.error
{
    color:Red;
}


div#title
{
    float:left;
}
div#title a
{
    text-decoration: none;
}
#logindisplay
{
    display:block;
    text-align:right;
    margin-bottom: 20px;    
    font-size:1.1em;
}
#slug
{
    font-style:italic;    
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    display:block;
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label
{
    margin-top:10px;
    font-weight: bold; 
}

.pair .display-label,
.pair .editor-label
{
    margin-top:0;
    padding-top:10px;
    font-weight: bold; 
}

.display-field,
.editor-field
{
    margin:3px 0 0 0;
}
.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}
td,th{ text-align: left; }
th{ vertical-align:bottom; }
td.number, th.number, td.number > input, th.number > input
{
    text-align: right;
}
td.number > input, th.number > input
{
    width: 3.5em;
}
input[type=date]
{
    width: 6em !important;
}
.pair
{
    margin-right: 10px;
    float: left;
}
#search-form input
{
    width: 5.5em;
}

.actions
{
    padding-top:20px;
}



.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* open id selector */
#openid {
  background: url(indicator.gif) center center no-repeat;
  margin: 0 auto;
  width: 440px;
  height: 162px;
}

#openid_identifier {
  clear: both;
  display: none;
  background: url(balloon.png) no-repeat;
  width: 410px;
  height: 48px;
  color: white;
  text-align: center;
  margin-top: 35px;
  padding-top: 17px;
}

#openid_identifier #openid_username {
  margin: 0 4px 0 8px;
  width: 120px;
}

#openid_btns, #openid_btns br {
  clear: both;
}

#openid_highlight {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 2px;
  background-color: #FFFCC9;
  float: left;
}

.openid_large_btn, .openid_small_btn {
  background: url(openid-icons.png) no-repeat;
  margin: 3px;
  float: left;
}

.openid_large_btn {
  width: 91px;
  height: 51px;
}

.openid_small_btn {
  width: 16px;
  height: 16px;
}  

.Google { background-position: 0 0; }
.Yahoo { background-position: 0 -51px; }
.AOL { background-position: 0 -102px; }
.OpenID { background-position: 0 -153px; }
.MyOpenID { background-position: 0 -204px; }
.Flickr { background-position: 0 -220px; }
.Technorati { background-position: -17px -220px; }
.Wordpress { background-position: -17px -204px; }
.Blogger { background-position: -34px -204px; }
.Verisign { background-position: -51px -220px; }
.Vidoop { background-position: -34px -220px; }
.ClaimID { background-position: -68px -204px; }
.LiveJournal { background-position: -51px -204px; }
.MySpace { background-position: -68px -220px; }

a.openid_large_btn:focus {
  outline: none;
  -moz-outline-style: none;
}
#openid_inputarea{ clear: both; padding-top:10px; }
#openid_inputarea span.oidlabel { vertical-align:middle; margin-right: 5px; }

/* notification bar */

#message
{
    display:none;
	width:100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index:9999999;
	text-align:center;
}
#message div{
	display:inline-block;
	padding: 10px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95); 
	opacity: 0.95;
	-moz-opacity: 0.95;
	text-align:center;
	border-top: none;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	font-size: 24px;
	margin:0 auto;
	max-width: 950px;
}

@media screen and (max-width: 480px) 
{
    #menucontainer
    {
        clear:both;
        float:none;
        text-align:center;
    }
    ul#menu{
        padding:10px 0 0 0;
    }
    
    div#title h1 a
    {
        padding-top:0;
        font-size: .8em;
    }
    #logindisplay
    {
        float:right;
        margin-bottom:5px;
    }
}

@media screen and (max-width: 480px) 
{
    div#title h1 a
    {
        font-size: 1.1em;
    }
    header, div#title, #logindisplay    
    {
        float:none;
        text-align:center;
    }
    ul#menu li a {
        display:inline-block;
        padding: 2px 4px;
        margin:0;
   }
   ul#menu li 
   {
       padding:0;
       margin:0;
   }
}

@media screen and (max-width: 320px) 
{
    div#title h1 a
    {
        font-size: .75em;
    }
    header, div#title, #logindisplay
    {
        text-align:center;
    }
    #logindisplay
    {
        font-size: .8em;
    }
    ul#menu li 
    {
        border-bottom-width: 1px;
        border-radius: 0;
    }    
    ul#menu li
    {
        display: block;
        padding: 2px 4px;
        margin:5px;
   }
}

@media print 
{
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
  ul#menu,table a, .ui-button, .no-print,.actions {display:none;}
  #main{ border-color: #000; }
  
}